<div class="container col-md-10 col-sm-10 col-6 m-auto ">
  <div class="jumbotron jumbotron-fluid">
    <input type="file" #img accept=".jpg" (change)="uploadImg($event)">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary text-capitalize" (click)="img.click()">select images</button>
      <button class="btn btn-warning text-capitalize" (click)="onUpload()">upload images</button>
    </div>
    <div *ngFor="let item of list" class="img">
      <img [src]="imgUrl" alt="">
    </div>
  </div>
</div>
