<nav class="navbar navbar-expand navbar-light bg-dark col-md-12">
  <div class="nav navbar-nav">
    <a class="nav-link text-light">dashboard</a>
  </div>
</nav>
<div class="main col-md-12 d-flex">
  <div class="left col-md-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink='/dashboard/list' routerLinkActive="active">
          <i class="fas fa-list-ol"></i> list
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink='/dashboard/instagram' routerLinkActive="active">
          <i class="fab fa-instagram"></i> instagram
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink='/dashboard/images' routerLinkActive="active">
          <i class="fas fa-image"></i> image upload
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink='/dashboard/videos' routerLinkActive="active">
          <i class="fas fa-video"></i> video upload
        </a>
      </li>
    </ul>
  </div>
  <div class="right col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
