<div class="container">
  <div class="jumbotron jumbotron-fluid col-md-6">
    <img src="../../../assets/img/speedometer.png">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="Name" class="text-primary">Name:</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name" required
          (keyup)="loginName($event)">
      </div>
      <div class="form-group">
        <label for="Pass" class="text-primary">Password:</label>
        <input type="password" class="form-control" formControlName="pass" id="pass" placeholder="Password" required
          (keyup)="loginPass($event)">
      </div>
    </form>
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.valid" (click)="logToDash()">Login</button>
  </div>
</div>
