input {
  border-radius: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  border-radius: 0;
  margin-bottom: 15px !important;
  display: block;
  margin: 0 auto;
}

img {
  display: flex;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.jumbotron {
  padding: 15px;
}
