<div class="container col-md-10 col-sm-10 col-6 m-auto ">
  <div class="jumbotron jumbotron-fluid">
    <input type="file" #video accept=".mp4" (change)="uploadVideo($event)">
    <div class="d-flex justify-content-between">
      <button class="btn btn-secondary text-capitalize" (click)="video.click()">select video</button>
      <button class="btn btn-warning text-capitalize" (click)="onUpload()">upload video</button>
    </div>
    <div class="col-md-10 m-auto">
      <video controls autoplay muted width="625" height="350">
        <source [src]="videoUrl" type="video/mp4">
      </video>
    </div>
  </div>
</div>
